.About{
    background-color: #6246ea;
    color: #fffffe;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px; 
    grid-template-areas: 

        ". Title Title Title ."
        ". First First First ."
        ". First First First .";

    .Title{
        grid-area: Title;
        font-size: 40px;
        margin: 0px;
        display: flex;
        align-items: center;

        .hand{
            transform: scaleX(-1);
            z-index: 0;
        }
    }

    .First{
        grid-area: First;
        font-size: 20px;
        margin: 0px;
        margin-bottom: 50px;
    }

}

