.About{
    background-color: #6246ea;
    color: #fffffe;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.5fr 1fr 1fr;
    gap: 0px 0px; 
    grid-template-areas: 

        ". Title Title Title ."
        ". First First First ."
        ". First First First .";

    .Title{
        grid-area: Title;
        font-size: 40px;
        margin: 0px;
        display: flex;
        align-items: center;

        .hand{
            transform: scaleX(-1);
            z-index: 0;
        }
    }

    .First{
        grid-area: First;
        font-size: 20px;
        line-height: 1.5;
        margin: 0px;
        margin-bottom: 50px;
    }

}


@media screen and (max-width: 1023px){
    .About{
        display: flex;
        flex-direction: column;
        
        .Title{
            margin: 20px 40px;
        }

        .First{
            margin: 20px 40px;
        }
    }
}

