.Contact{
    background-color: #6346ea;
    color: #EEEEEF;
    h1{
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 50px;
    }

    .icons{
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 25px;
        img{
            width: 40px;
            height: 40px;
            margin: 10px;
            

            &:hover{
                transform: scale(1.15);
                transition: 200ms;
                cursor: pointer;
            }
        }
    }
}