.Project{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas: 
        ". left right right ."
        ". left right right ."
        ". left right right .";
    position: relative;
 

    .left{
        grid-area: left;
        
        h1{
            position: sticky;
            top: 80px;
            font-size: 40px;
            margin-top:40px;
            display: flex;
            align-items: center;
        }
    }

    .right{
        grid-area: right;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 10px;
    }
}


@media screen and (max-width: 1023px){
    .Project{
        display: flex;
        flex-direction: row;

        .left{
            h1{
                margin-left: 40px;
            }
        }
    }
}


@media screen and (max-width: 767px){
    .Project{
        display: flex;
        flex-direction: column;

        .left{
            h1{
                margin-left: 40px;
            }
        }

        .right{
            margin-left: 20px;
        }
    }
}